.tresh {
  position: absolute;
  top: 30px;
  left: 30px;

  width: 36px;
  height: 36px;

  background: url('../images/shopping-cart.png') no-repeat;
  cursor: pointer;

  &__counter {
    position: absolute;
    top: 30px;
    left: 10px;
  }

  &__container {
    position: relative;
    top: 50px;

    height: 0;
    width: 200px;

    opacity: 0;
    transition: opacity 0.5s;

    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;

    margin-top: 20px;
    width: 100%;
    height: 80px;
    line-height: 150%;

    font-size: 10px;

    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;

    &-remove {
      padding: 5px 10px;
      border: none;
      border-radius: 10px;
    }
  }

  &__item > * {
    margin-left: 5px;
  }
}

.tresh > * {
  cursor: auto;
}

.show {
  height: auto;
  opacity: 1;
}
